.story_row {
    margin: 0 0 30px 0;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story_row_title {
    font-size: 20px;
    font-family: Roboto;
    color: #707070;
    font-weight: 500;
}

.story_label_big {
    font-size: 25px;
    font-family: Roboto;
    color: #0097a7;
    font-weight: 500;
}

.story_value_big {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    color: rgba(0,0,0,0.67);
}

.story_row_icons {
    display: flex;
}

.task_label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: #0097a7;
    margin-bottom: 4px;
}

.task_value {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.67);
}

.center_divider {
    margin: 0 40px;
    width: 1px;
    background: rgba(0,0,0,0.2);
}